*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f6f6f6;
}
:root{
--shadow-color:  13px 13px 30px #cbced1, 
-13px -13px 20px #fff;
}
.container {
  width: 890px;
  height: 500px;
  background: #fff; 
  box-shadow: 3px 3px 10px #555;
  border-radius: 10px;
  overflow: hidden;
}
.picture-product {
  float: left;
}
img:only-child{
  object-fit: cover;
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: var(--shadow-color); 
  background-color: #ecf0f3;
  width: 380px;
  border-radius: 10px;
}
/*shadow for picture product */
.all-color{
  margin-right: 35px;
  box-shadow: var(--shadow-color);
}
#color-1 {
  width: 20px;
  height: 20px;
  background: rgb(65, 105, 225);
  border-radius: 50%;
  float: right;
  cursor: pointer;
  margin: 30px;
}
#color-2 {
  width: 20px;
  height: 20px;
  background: rgb(0, 250, 154); 
  border-radius: 50%;
  float: right;
  cursor: pointer;
  margin: 30px;
}
#color-3 {
  width: 20px;
  height: 20px;
  background: rgb(147, 112, 219); 
  border-radius: 50%;
  float: right;
  cursor: pointer;
  margin: 30px;
}
#color-4 {
  width: 20px;
  height: 20px;
  background: rgb(75, 0, 130); 
  border-radius: 50%;
  float: right;
  cursor: pointer;
  margin: 30px;
}
/*color for product */
.title-card {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
}
.title {
  margin-top: 135px;
  font-size: 32px;
  text-transform: uppercase; 
  letter-spacing: 1px; 
  pointer-events: none;
  user-select: none;
}
.paragrath {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 40px;
  text-shadow: 5px 5px 10px var(--shadow-color); 
  overflow-wrap: normal;
  pointer-events: none;
  user-select: none;
}
/*explain about product */

.btn {
  text-align: center;
  transition: all 0.4s linear;
}
button[type="submit"] {
  outline: none;
  border: none;
  background: dodgerblue;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  padding:15px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize; 
  box-shadow: var(--shadow-color);
  margin-top: 15px;
  transition: all 0.4s ease;
}
button[type="submit"]:hover{
  background: deepskyblue;
  transition: all 0.4s ease;
}
button[type="submit"]:focus{
  width: 380px;
  transition: all 0.4s ease;
}
/*button for buy product */













